.title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-text-white);
}

.cardBox {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
