.userBox {
  display: flex;
  align-items: center;
}

.userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.displayName {
  width: 1.8rem;
  font-size: 0.8rem;
  display: none;
  line-height: 3px;
}
